# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios

# Android build files
android/build/
android/app/build/
android/.gradle/
modules/expo-godot-view/android/build/
**/intermediates/
**/kotlin/compileDebugKotlin/
*.jar
!android/gradle/wrapper/gradle-wrapper.jar
*.dex
*.ap_
*.class
*.aar
!modules/expo-godot-view/android/libs/godot-lib.4.6.stable.template_debug.aar
!modules/expo-godot-view/android/libs/godot-lib.4.6.stable.template_release.aar
!modules/expo-godot-view/android/libs/godot-lib.template_release.aar

# Godot APK exports
Ritmo.apk
*.apk

# Local large artifacts not for git push
ChatHistory
eatgame.apk
expo-godot-view-*.tgz
